spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/realestate_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:admin}
    driver-class-name: org.postgresql.Driver

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8083

app:
  frontend-url: ${FRONTEND_URL:http://localhost:5173}
